body {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    background: #2b2b2b;
}

table,
th,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    color: rgba(0, 0, 5, 1);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.308);
}

img {
    max-width: 100%;
    height: auto;
}

input {
    margin: 0px;
    border: 0px unset;
    background: none;
    background-color: #ffffff;
}

*:focus {
    border: 1px solid;
    background-color: #ffffff;
}

table {
    position: inherit;
    width: 482px;
    height: 30%;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 5%;
    float: left;
    box-shadow: 0 1px 3px rgba(109, 97, 97, 0.2);
    display: table;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

#titre1 {
    font-weight: 900;
    color: #ffffff;
    background: #2980b9;
}

#titre2 {
    font-weight: 900;
    color: #ffffff;
    background: #27ae60;
}

#table1 {
    height: 900px;
}

#table3 {
    height: 900px;
}

#table2 {
    margin-left: 30%;
}

h6 {
    display: block;
    margin: 1 1 1 1;
    font-weight: normal;
}

.hidden {
    display: none;
}

.light {
    background-color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 500px) {
    #uname {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    .noneed {
        display: none;
    }
    #table2 {
        margin-left: 2%;
    }
    table {
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 0;
    }
    #cover {
        width: 482px;
    }
}