table,
th,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    margin: 2px;
}

table {
    position: inherit;
    width: 40%;
    height: 30%;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 5%;
    float: left;
}

#table1 {
    height: 900px;
}

#table3 {
    height: 900px;
}


#table2 {
    margin-left: 25%;
}

h6 {
    display: block;
    margin: 1 1 1 1;
    font-weight: normal;
}

@media only screen and (max-width: 900px) {
    #uname {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    .noneed {
        display: none;
    }
    #table2 {
        margin-left: 2%;
    }
        table {
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 0;
        
    }
}
