img {
    max-width: 100%;
    height: auto;
}

h6 {
    display: block;
    font-size: 5px;
    margin: auto auto auto auto;
    font-weight: normal;
}

@media only screen and (max-width: 900px) {
    #cover {
        width: 480px;
    }
}