table,
th,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    width: 50px;
}

table {
    width: 40%;
    margin-top: 10px;
    margin-right: 20px;
    float: left;
}

#table1 {
    height: 510px;
}

#table3 {
    height: 510px;
}

#table2 {
    margin-left: 25%;
}

h6 {
    display: block;
    font-size: 5px;
    margin: auto auto auto auto;
    font-weight: normal;
}

@media only screen and (max-width: 900px) {
    .noneed {
        display: none;
    }
}